.display-flex {
    display: flex;
    align-items: center;
}

.align-center {
    justify-content: center;
}

.align-left {
    justify-content: flex-start;
}

.align-right {
    justify-content: flex-end;
}

.fit-content {
    width: fit-content;
}

.text-center {
    text-align: center;
}